.Arrows-left {
  position: absolute;
  left: -24px;
  width: 100px;
  display: none;
}
.Arrows-right {
  position: absolute;
  right: -24px;
  width: 100px;
  display: none;
}

.Arrows-left--learn,
.Arrows-right--right {
  top: 110px;
}
